<!DOCTYPE html>
<html lang="en"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{web/layout/master.html}">
  <head>
    <title>Car</title>

  </head>
  <body>
    <div layout:fragment="content">

    

		

		<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row">
    			<div th:each="car : ${cars}" class="col-md-4">
    				<div class="car-wrap rounded ftco-animate">
						<img style="height: 200px;object-fit: cover" th:src="${car.getThumbnail()}">
    					<div class="text">
    						<h2 class="mb-0"><a th:href="@{/carDetail/{id}(id=${car.getId()})}" th:text="${car.getName()}"></a></h2>
    						<div class="d-flex mb-3">
	    						<span class="cat" th:text="${car.carCompany}"></span>
								<p class="price ml-auto"><span th:text="${car.getPriceperday()}"> </span><span>$ /day</span></p>
    						</div>
    						<p class="d-flex mb-0 d-block"><a th:href="@{/booking/{id}(id=${car.getId()})}" class="btn btn-primary py-2 mr-1">Book now</a> <a th:href="@{/carDetail/{id}(id=${car.getId()})}" class="btn btn-secondary py-2 ml-1">Details</a></p>
    					</div>
    				</div>
    			</div>

    		</div>
    		<div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
    	</div>
    </section>



	</div>
  </body>
</html>