<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{adminlte/master/master.html}">

<body class="hold-transition sidebar-mini">

<div class="wrapper">
        <div layout:fragment="content" class="content-wrapper" >
            <div style="margin: 0 20px">
                <div class="container-fluid px-4">
                    <h1 class="mt-4">Company</h1>
                    <ol class="breadcrumb mb-4">
                        <li class="breadcrumb-item"><a href="../index.html">Dasdhboard</a></li>
                        <li class="breadcrumb-item active">Update</li>
                    </ol>
                </div>
                <div class="col-md-6">
                <form  enctype="multipart/form-data">
                    <div class="form-group">
                        <div class="form-group">
                            <label>Name</label>
                            <input style="margin:10px 0" th:name="name" class="form-control" id="name" th:value="${company.getName()}">
                        </div>
                        <div class="form-group">
                            <label>Country</label>
                            <input style="margin:10px 0" th:name="country" class="form-control" id="country" th:value="${company.getCountry()}">
                        </div>
                        <div class="form-group">
                            <label>Telephone</label>
                            <input style="margin:10px 0" th:name="telephone" class="form-control" id="telephone" th:value="${company.getTelephone()}">
                        </div>
                        <div class="form-group">
                            <label>Status(1:Active; 2:No Active)</label>
                            <input style="margin:10px 0" type="number" th:name="status" class="form-control" id="status" th:value="${company.getStatus()}">
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input style="margin:10px 0" type="file" th:name="file" class="form-control" id="file" th:value="${company.getImage()}">
                        </div>
                    </div>
                    <button type="button" href="javasript:" th:onclick="'update('+ ${company.getId()} +')'" class="btn btn-primary">Update</button>
                </form>
            </div>
            </div>
        </div>
</div>

<div layout:fragment="script">
    <script>
        function update(sbId){

            var name = $('#name').val();
            var country = $('#country').val();
            var telephone = $('#telephone').val();
            var status = $('#status').val();
            var file = $('#file')[0].files[0];
            const formData = new FormData();
            formData.append("name",name);
            formData.append("country",country);
            formData.append("telephone",telephone);
            formData.append("status",status);
            formData.append("file",file);
            // alert(subscribersemail)
            $.ajax({
                type:'POST',
                url:"/admin/company/update/" + sbId,
                enctype: 'multipart/form-data',
                processData: false,
                contentType: false,
                data:formData,
                success:function(data){
                    $("body").empty();
                    $("body").html(data);

                },
                error:function(){
                    alert("lỗi");
                }
            });
        }
    </script>

</div>
</body>
</html>
